<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval:Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数，不设置默认5s-->
<Configuration status="WARN" monitorInterval="60">
    <!--  配置输出地  -->
    <Appenders>
        <!--  控制台  -->
        <Console name="stdout" target="SYSTEM_OUT">
            <!--  输出格式  -->
            <PatternLayout charset="GBK" pattern="%d{HH:mm:ss} %5level [%t] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.bjpowernode.mapper" level="trace" additivity="true"/>
        <Root level="error">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>