<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.ActivityMapper">

    <resultMap id="activityResultMap" type="com.bjpowernode.beans.Activity">
        <id column="id" property="id"/>
        <result column="ownerId" property="ownerId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="cost" property="cost"/>
        <result column="createById" property="createById"/>
        <result column="createTime" property="createTime"/>
        <result column="editById" property="editById"/>
        <result column="editTime" property="editTime"/>
        <association property="owner" javaType="com.bjpowernode.beans.User">
            <result column="ownerId" property="id"/>
            <result column="ownerName" property="name"/>
        </association>
        <association property="createBy" javaType="com.bjpowernode.beans.User">
            <result column="createById" property="id"/>
            <result column="createByName" property="name"/>
        </association>
        <association property="editBy" javaType="com.bjpowernode.beans.User">
            <result column="editById" property="id"/>
            <result column="editByName" property="name"/>
        </association>
        <!-- 评论列表 -->
    </resultMap>

    <sql id="queryCond">
        <where>
            <if test="queryCond.name != null and queryCond.name != ''">
                and act.name like concat('%', #{queryCond.name}, '%')
            </if>
            <if test="queryCond.cost != null and queryCond.cost != ''">
                and act.cost = #{queryCond.cost}
            </if>
            <if test="queryCond.ownerId != null and queryCond.ownerId != '-1'">
                and act.ownerId = #{queryCond.ownerId}
            </if>
            <if test="queryCond.createById != null and queryCond.createById != '-1'">
                and act.createById = #{queryCond.createById}
            </if>
            <if test="queryCond.editById != null and queryCond.editById != '-1'">
                and act.editById = #{queryCond.editById}
            </if>
            <if test="queryCond.startDate != null and queryCond.startDate != ''">
                and act.startDate = #{queryCond.startDate}
            </if>
            <if test="queryCond.endDate != null and queryCond.endDate != ''">
                and act.endDate = #{queryCond.endDate}
            </if>
        </where>
    </sql>

    <select id="count" resultType="java.lang.Integer">
        select count(*) as amount
        from tbl_marketing_activities as act inner join tbl_user as owner on act.ownerId = owner.id
        inner join tbl_user as createBy on act.createById = createBy.id
        left join tbl_user as editBy on act.editById = editBy.id
        <include refid="queryCond"/>
    </select>

    <select id="getPage" resultMap="activityResultMap">
        select
        act.id,
        act.name,
        act.startDate,
        act.endDate,
        act.cost,
        act.ownerId,
        owner.name as ownerName,
        act.createById,
        createBy.name as createByName,
        act.editById,
        editBy.name as editByName
        from tbl_marketing_activities as act inner join tbl_user as owner on act.ownerId = owner.id
        inner join tbl_user as createBy on act.createById = createBy.id
        left join tbl_user as editBy on act.editById = editBy.id
        <include refid="queryCond"/>
        order by convert(act.name using gbk)
        limit #{index},#{offset}
    </select>

    <select id="get" resultMap="activityResultMap">
        select
        act.id,
        act.name,
        act.description,
        act.startDate,
        act.endDate,
        act.cost,
        act.ownerId,
        owner.name as ownerName,
        act.createById,
        createBy.name as createByName,
        act.createTime,
        act.editById,
        editBy.name as editByName,
        act.editTime
        from tbl_marketing_activities as act inner join tbl_user as owner on act.ownerId = owner.id
        inner join tbl_user as createBy on act.createById = createBy.id
        left join tbl_user as editBy on act.editById = editBy.id
        where act.id = #{id}
    </select>

    <insert id="add">
        insert into tbl_marketing_activities (id, ownerId, name, startDate, endDate, cost, description, createById,
        createTime)
        values (#{id}, #{ownerId}, #{name}, #{startDate}, #{endDate}, #{cost}, #{description}, #{createById},
        #{createTime})
    </insert>

    <delete id="del">
        delete from tbl_marketing_activities
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>