<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.bjpowernode.beans.User">
        <id column="id" property="id"/>
        <result column="depId" property="depId"/>
        <result column="loginAct" property="loginAct"/>
        <result column="name" property="name"/>
        <result column="loginPwd" property="loginPwd"/>
        <result column="email" property="email"/>
        <result column="expireTime" property="expireTime"/>
        <result column="lockStatus" property="lockStatus"/>
        <result column="allowIps" property="allowIps"/>
        <result column="createById" property="createById"/>
        <result column="createTime" property="createTime"/>
        <result column="editById" property="editById"/>
        <result column="editTime" property="editTime"/>
        <association property="createBy" javaType="com.bjpowernode.beans.User">
            <result column="createById" property="id"/>
            <result column="createByName" property="name"/>
        </association>
        <association property="editBy" javaType="com.bjpowernode.beans.User">
            <result column="editById" property="id"/>
            <result column="editByName" property="name"/>
        </association>
    </resultMap>

    <select id="getAll" resultMap="userResultMap">
        select id, name
        from tbl_user
        order by id
    </select>


</mapper>